{% extends "layout.html" %}

{% block title %}
    About this Game
{% endblock %}

{% block main %}
    <div id="header">
        About the Project
    </div>
    <div id="text2" class="mb-4">
        Welcome to my final project for CS50! My name is Dana Alnabulsi, and I created this game using an open <a href="https://the-trivia-api.com/">Trivia API</a>.
        With this website, you're able to register your unique account, and play a Trivia game that allows you to answer questions for points.
        You can customize these questions' category and difficulty, or allow for a mixed variety of the two.
        When the game is over, your game results are added to your games' history. Also, if you achieve a highscore, your highscore table is updated as well.
        Enjoy!
    </div>
    <div id="header">
        Inspiration Behind the Project
    </div>
    <div id="text2" class="mb-4">
        The inspiration came from my love for trivia games. I was in a club in highschool called Academic Games, a competition which has two teams answer random factual questions for points.
        I also loved learning the implementation of APIs during Finance, and thought it would be a good idea to explore that concept more during this project.
    </div>
    <div id="header">
        After CS50
    </div>
    <div id="text2" class="mb-4">
        I plan on continuing this process by enrolling in a full-stack bootcamp, though I am currently undecided on which one to choose.
        I also plan on expanding my mathematical knowledge by taking some courses like Data Structures and Algorithms, Discrete Mathematics and Assembly.
        My goal is to work in the industry as fast as possible, as I know that experience is worth its weight in gold.
        I am currently working in a well-known online HR software company in the Middle East, and I plan on making the switch from the Sales Department to the Technical Department.
    </div>
    <div id="header">
        Contact Me
    </div>
    <div id="text2" class="mb-5">
        <a href="https://www.linkedin.com/in/dana-n-9b591282/">LinkedIn</a> <a href="https://www.facebook.com/dtnabulsi/">Facebook</a> <a href="https://www.instagram.com/dtnabulsi/">Instagram</a>
    </div>
{% endblock %}
