{% extends "layout.html" %}

{% block title %}
    Game Over
{% endblock %}

{% block main %}
    <div class="mb-3">
        <img alt="trivia" src="/static/Riddler-logo.png">
    </div>
    <div class="mb-3">
        <p id="text">Game over! You answered {{ question_number - 1 }} {{ proper_difficulty }} question(s) and earned {{ points }} points in the topic of {{ proper_category }}.</p>
    </div>
    <form action="/highscores" method="get" class="mb-3">
        <button class="btn btn-success" name="button" value="highscores" type="submit">View Highscores</button>
    </form>
    <form action="/newgame" method="get" class="mb-3">
        <button class="btn btn-success" name="button" value="newgame" type="submit">Play a New Game</button>
    </form>
{% endblock %}
