{% extends "layout.html" %}

{% block title %}
    How to Play
{% endblock %}

{% block main %}
    <div id="header">
        Create a New Game
    </div>
    <div id="text2" class="mb-4">
        You are able to customize your questions according to category and difficulty. The available categories are Arts & Literature, Film & TV, Food & Drink,
        General Knowledge, Geography, History, Music, Science, Society & Culture, and Sport & Leisure. The available difficulties are Easy, Medium, and Hard.
        You can also choose to have mixed categories and difficulties, which will then give you a completely random choice of questions.
    </div>
    <div id="header">
        Playing the Game
    </div>
    <div id="text2" class="mb-4">
        When the game begins, you will have 10 seconds to answer the question. You are given four options for an answer, only one of which is correct.
        Select the correct answer, then submit by clicking the "Submit Answer" button. If you are correct, you will gain one point and move on to the next round.
        If you are incorrect, your game will end and your results will be saved. Enjoy!
    </div>
{% endblock %}